		#barra {
			clear:both; 
			position: fixed; 
			top:0; 
			left:0; 
			font-size: 10pt; 
			width: 100%;  
			padding: 0px; 
			margin:0px 0px 0px 0px; 
			height: 40px; 
			background-color: #17294B;
			color: #DDD;
			z-index: 99;
			
		}
		
		#barraImage
		{
			float:left; 
			margin-top:10px;
			margin-left:10px; 
			background: url('../../../includes/images/malvinasargentinas.icon.png') no-repeat; 
			width: 20px; 
			height: 25px;
		}
		
		#barra a
		{
			font-weight: bold;
		}
		
		#barra a:LINK
		{
			color: #AAA;
		}

		#barra a:VISITED
		{
			color: #AAA;
		}
		
		#barra a:HOVER
		{
			color: #FFF;
		}