@CHARSET "UTF-8";
		body{
		
			/*background:url("../images/fondo.png") repeat-x top left #eff3ff;*/
			/*background-color :#eff3ff;*/
			background-color :#E0ECF8;
			font-size: 9pt;
		}
		
		
		.cnt
		{
			clear: both;
			margin:10px;
			font-family:arial;
			font-size: 11pt;
		}
		
		.lstTextos
		{
			clear: both;
			background: none;
			min-height: 130px;
			margin: 5px;
		}

		.lstTextos ul
		{
			margin: 0;
			padding-left: 0px;
		}
		
		.lstTextos ul li
		{
			margin: 0px;
			list-style: none;
			padding-left: 15px;
			background: url("../images/bullets-001.png") 0 -457px no-repeat;
		}

		#tituloImprimir {
			display: none;
		}


		#contenedorGral{
			min-width: 1150px;
			position: absolute; 
			top:50px; 
			width: 100%;
			
			
			
		}
		
		#contenedorMenuOpciones
		{
			/*float: left;*/
			position: fixed;
			top:50px; 
			left:0px;
			width: 200px;
			font-size: 9pt;
		}
		
		#menuOpciones{
			clear: both;
			/*margin-top:10px;*/
		}
		
		#contenedor 
		{ 
			/*position: absolute;*/
			float:left;
			margin-left: 200px;
			/*top:20px;*/
			/*left:200px;*/
			/*margin:0 auto 0 auto;*/ 
			width:900px;
			background-color: #FFF; 
		}
		
		
		
		#divEstudiosAnteriores{
			font-size: 9pt;
		}
		
		#contenedorEstudios #divAltaComplejidad
		{
		/*
			float: left;
			width: 350px;
			margin:10px;*/
			
			float: right;
			margin:10px 0px 10px 10px; 
			width: 380px; 
			border: solid;
			border-width: 1pt;			
		}
		#contenedorObservaciones, #contenedorPendientes, #contenedorInterconsultas{
			border: solid;
			border-width: 1pt; 
			min-height: 150px;
		}
		
		#contenedorEstudios #divRayos
		{
			float: left;
			margin:10px 10px 10px 0px; 
			width: 470px; 
			border: solid;
			border-width: 1pt;			
		}

		#contenedorFirmaSalidaUDP {
			display: none;
		}
		
		#contenedorFirmaSalidaHS {
			display: none;
		}

		#formDatos #divAltaComplejidad
		{
			clear: both;
			float: left;
			width: 320px;
			margin:10px;
		}
		
		#formDatos #divRayos
		{
			clear: both;
			float: left;
			width: 350px;
			margin:10px;
		}

		#tblFichaPaciente{
			margin:0 auto 0 auto; 
			width: 100%;
		}
		#tblDiagnosticos
		{
			font-family:arial;
			font-size: 11pt;
			margin: 0px;
			padding: 0px;
			
			
		}
		
		#NotituloTabla{
			font-family:arial;
			font-size: 12pt;
		}
		
		#toolbar-container {/*Esto muestra un div fijo en la parte baja de la pagina*/
			/*background: url("../img/toolbar-background.png") repeat-x scroll 0 0 transparent;*/
			bottom: 0;
			font-family: Arial,Helvetica,sans-serif;
			height: 300px;
			padding: 10px 0px 0px 0px; 
			position: fixed;
			width: 100%;
			z-index: 99;
			background-color: #17294B;
			
		}
		
		.hor-minimalist-b {
		    /*background: none repeat scroll 0 0 #FFFFFF;*/
		    border-collapse: collapse;
		    font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
		    /*font-size: 12px;*/
		    margin: 20px;
		    text-align: left;
		    
		}
		.hor-minimalist-b thead th {
		    border-bottom: 2px solid #6678B1;
		    /*color: #003399;*/
		    font-size: 14px;
		    font-weight: normal;
		    padding: 10px 8px;
		}
		
		.hor-minimalist-b tfoot th {
		    /*color: #003399;*/
		    font-size: 11px;
		    font-weight: normal;
		    padding: 4px 8px;
		}
		
		.hor-minimalist-b td {
		    border-bottom: 1px solid #CCCCCC;
		    /*color: #666699;*/
		    padding: 6px 8px;
		}
		.hor-minimalist-b tbody tr:hover td {
		    /*color: #000099;*/
		}
		