/*Tamaños de letra*/

.letraChica 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
}

.letraU 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #191970;
}

.letraMedia 
{
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #191970;
}

.letraConsult 
{
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #000000;
}

.letraGrande 
{
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 50px;
	color: #191970;
}

.letraMuyGrande
{
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 60px;
	color: #000000;
}

#page
{
    width: auto;
    margin: auto 50px auto 50px;
    padding :10px 10px 10px 10px;
    background:#FFFFFF;
    border: 1px solid rgba(0,0,0,.05);
    box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.03);
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}

body
{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #3B3B3B;
    text-align: center;
    width: 100%;
}

        body:after
        {
            content: '';
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: .05;
        }

h1, h2, h3 
{
    margin: 0px;
    padding: 0px;
    letter-spacing: -2px;
    text-transform: capitalize;
    font-weight: normal;
    color: #17294B;
    text-align: center;
}

h1 
{
    font-size: 2em;
}

h2
{
    font-size: 2.4em;
}

h3 
{
    font-size: 1.6em;
}

p, ul, ol 
{
        margin-top: 0;
        line-height: 180%;
}

ul, ol {
}

a 
{
    text-decoration: none;
    color: #383838;
}

/* Header */

#header 
{
        clear: both;
        width: 1200px;
        margin: 0px auto;
}

/* Logo */

#logo 
{
        margin: 0px;
        padding: 50px 0px;
        color: #0082B0;
        text-align: center;
}

#logo h1, #logo p 
{
        margin: 0;
        padding: 0;
}

#logo h1 
{
        text-align: center;
        margin: 0px;
        padding: 0px;
        text-transform: lowercase;
        font-size: 3.8em;
        color: #778899;
}

#logo p 
{
        margin: 0px;
        padding: 0px;
        text-transform: uppercase;
        color: #0082B0;
}

/* Barra */

#barra 
{
clear:both;
position: fixed;
top:0;
left:0;
font-size: 10pt;
width: 100%;
padding: 0px;
margin:0px 0px 0px 0px;
height: 40px;
background-color: #17294B;
color: #DDD;
z-index: 99;

}

#barraImage
{
float:left;
margin-top:10px;
margin-left:10px;
background: url('/produ/includes/images/malvinasargentinas.icon.png') no-repeat;
width: 20px;
height: 25px;
}

#barra a
{
font-weight: bold;
}

#barra a:LINK
{
color: #AAA;
}

#barra a:VISITED
{
color: #AAA;
}

#barra a:HOVER
{
color: #FFF;
}


/* Content */

#content 
{
        float: left;
        width: 500px;
        padding-top: 30px;
        padding-left: 20px;
}

.button
{
        float:center;
        padding: 5px 15px;
        border-radius:10px;
        text-transform: uppercase;
        font-size: 12px;
}

.select
{
        width: 210px;
        outline: none;
        background: #F5F0E7;
        border: 1px solid #D7D0C0;
        padding: 10px;
        border-radius: 8px;
        text-transform: lowercase;
        font-family: 'Open Sans', sans-serif;
        color: #454545;
}

.input
{
        float: center;
        width: 190px;
        outline: none;
        background: #FFFFFF;
        border: 2px solid #17294B;
        padding: 10px;
        border-radius: 8px;
        text-transform: lowercase;
        font-family: 'Open Sans', sans-serif;
        color: #17294B;
}

.content
{
        margin: 0 20px;
}

.bmenu
{
    padding: 0px;
    margin: 0 0 10px 0;
    position: relative;
}

.bmenu li
{
    font-size: 20px;
    display: block;
}

.bmenu li a
{
        white-space: nowrap;
        display: block;
        text-transform: uppercase;
        text-shadow: 1px 1px 2px rgba(71,80,23,0.3);
        color: #778899;
        padding: 5px 20px;
        margin: 2px;
        background: rgba(255,255,255,0.2);
        letter-spacing: 1px;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
}

.bmenu li:first-child a
{
        -webkit-border-radius: 15px 15px 0px 0px;
        -moz-border-radius: 15px 15px 0px 0px;
        border-radius: 15px 15px 0px 0px;
}

.bmenu li:last-child a
{
        -webkit-border-radius: 0px 0px 15px 15px;
        -moz-border-radius: 0px 0px 15px 15px;
        border-radius: 0px 0px 15px 15px;
}

.bmenu:hover li a
{
        text-shadow: 0px 0px 10px #17294B;
        color: transparent;
}

.bmenu li a:hover
{
        background: transparent;
        text-shadow: 1px 1px 10px rgba(71,80,23,0.6);
        color: #17294B;
}
