@CHARSET "UTF-8";
@page legal {
    size: 8.5in 14in;
}

html{
    margin: 0px 0px 0px 0px;
}

body{
    margin: 0px 0px 0px 0px;
    font-size: 100% !important;
}

section{
    margin: 0px 0px 0px 0px;
    padding: 0px;
    max-width: 0px;
}

#formDemanda{
    display: none;
    margin: 0px 0px 0px 0px;
}

#barra{
    display: none;
    margin: 0px 0px 0px 0px;
}

.morph-content{
    display: none;
    margin: 0px 0px 0px 0px;
}

.mockup-content{
    margin: 0px 0px 0px 0px;
}

.container{
    margin: 0px 0px 0px 0px;
}

.hoja{
    min-width: 0px;
    position: absolute; 
    top:0px;
    background-color: #FFF;
}