@CHARSET "UTF-8";
@page legal {
    size: 8.5in 14in;
}

html{
    margin: 0px 0px 0px 0px;
}

body{
    margin: 0px 0px 0px 0px;
    font-size: 100% !important;
}

#fichaPaciente{
    display: none;
    margin: 0px 0px 0px 0px;
}

#container{
    display: none;
    margin: 0px 0px 0px 0px;
}

#fichaPaciente{
    display: none;
    margin: 0px 0px 0px 0px;
}

#divConfTurno{
    display: none;
    margin: 0px 0px 0px 0px;
}

#barra{
    display: none;
    margin: 0px 0px 0px 0px;
}

body {
    margin: 0px 0px 0px 0px;
}

#imprimir{
    display: block;
    top:0px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FFF;
}

#divPrincipal{
    margin: 0px 0px 0px 0px;
}

#divBtnImprimir{
    display: none;
}

#dialog {
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 100%;
}

table{ border-collapse:collapse; }

font{ font-size: 10px; }

.tbord{ border: 2px solid; }

.tbordS{ border: none; }

.tbordL{ border-left: 1px solid; }

.tW1{ width: 2em; }

.tW2{ width: 5em; }

.tW5{ width: 25em; }

.tW8{ width: 8em; }

.tH1 { height: 1em; }

.tH2 { height: 2em; }

.tH8 { height: 8em; }

.al { text-align: right; }

.acd { text-align: center; vertical-align: bottom; }

.alt { text-align: left; vertical-align: top; }