table{
    border-collapse:collapse;
    line-height: 1em !important;
}

font{ font-size: 10px; }

.lc{
    font-size: 8px;
}

.tbord{ border: 2px solid; }

.tbordS{ border: none; }

.tbordL{ border-left: 1px solid; }

.tW1{ width: 2em; }

.tW2{ width: 5em; }

.tW5{ width: 25em; }

.tW8{ width: 8em; }

.tH1 { height: 1em; }

.tH12 { height: 1.5em; }

.tH2 { height: 2em; }

.tH8 { height: 8em; }

.al { text-align: right; }

.acd { text-align: center; vertical-align: bottom; }

.ac { text-align: center; }

.alt { text-align: left; vertical-align: top; }